MinionMath-BoldCapt.otf
MinionMath-BoldDisp.otf
MinionMath-Bold.otf
MinionMath-BoldSubh.otf
MinionMath-BoldTiny.otf
MinionMath-Capt.otf
MinionMath-Disp.otf
MinionMath-MediumCapt.otf
MinionMath-MediumDisp.otf
MinionMath-Medium.otf
MinionMath-MediumSubh.otf
MinionMath-MediumTiny.otf
MinionMath-Regular.otf
MinionMath-SemiboldCapt.otf
MinionMath-SemiboldDisp.otf
MinionMath-Semibold.otf
MinionMath-SemiboldSubh.otf
MinionMath-SemiboldTiny.otf
MinionMath-Subh.otf
MinionMath-Tiny.otf
rascunho.aux
rascunho.fdb_latexmk
rascunho.fls
rascunho.log
rascunho.synctex.gz
rascunho.xdv
texput.log
rascunho.log
